.new_todo {
    width: 100%;

    form {
        display: grid;
        grid-template-columns: 10fr 1fr;
        column-gap: 24px;

        .input {
            height: 64px;
            text-align: left;
            margin-bottom: 16px;

            small {
                margin: 2px 0 0 16px;
            }
        }
    }
   
}